<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Achievements</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sta/achievements.css' %}">
</head>
<body>
    {% if ach_list %}
    <div class="lists">
        <div class="list">
            <div class="list__title">
                <h2>Unachieved ({{ unachieved }})</h2>
            </div>
            {% for ach in ach_list %}
            {% if not ach.achieved %}
            <div class="achievement">
                <img src="{{ ach.get_gray_icon_url }}">
                <div class="achievement__info">
                    <div class="achievement__title_description">
                        <div class="achievement__title">{{ ach.display_name }}</div>
                        <div class="achievement__description">{{ ach.description }}</div>
                    </div>
                        <div class="achievement__percentage">{{ ach.percentage }}%</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="list">
            <div class="list__title">
                <h2>Achieved ({{ achieved }})</h2>
                <a href="{% url 'sta:import_player_achievements' userid appid %}">Reload</a>
            </div>
            {% for ach in ach_list %}
            {% if ach.achieved %}
            <div class="achievement">
                <img src="{{ ach.get_icon_url }}">
                <div class="achievement__info">
                    <div class="achievement__title_description">
                        <div class="achievement__title">{{ ach.display_name }}</div>
                        <div class="achievement__description">{{ ach.description }}</div>
                    </div>
                        <div class="achievement__percentage">{{ ach.percentage }}%</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
    </div>
    {% else %}
    <div class="no_achievements">
        <p>No achievements found</p>
        <a href="{% url 'sta:import_achievements' userid appid %}">click here to import them</a>
    </div>
    {% endif %}
    </div>
</body>
</html>
